<!-- Fondo estrellado dinámico -->
<div class="starry-night" id="starryBackground"></div>

<!-- Cursor personalizado -->
<div class="love-cursor"></div>

<!-- Partículas flotantes de corazones -->
<div class="floating-hearts">
    <div class="heart" style="left:10%;top:20%;animation-delay:0s;">💕</div>
    <div class="heart" style="left:80%;top:30%;animation-delay:1s;">💖</div>
    <div class="heart" style="left:60%;top:60%;animation-delay:2s;">💗</div>
    <div class="heart" style="left:20%;top:80%;animation-delay:3s;">💝</div>
    <div class="heart" style="left:90%;top:70%;animation-delay:4s;">💘</div>
    <div class="heart" style="left:40%;top:15%;animation-delay:5s;">💞</div>
</div>

<!-- Estrellas brillantes -->
<div class="fixed inset-0 pointer-events-none z-1">
    <div class="sparkle" style="left:15%;top:25%;animation-delay:.5s;"></div>
    <div class="sparkle" style="left:85%;top:45%;animation-delay:1.2s;"></div>
    <div class="sparkle" style="left:25%;top:65%;animation-delay:2.1s;"></div>
    <div class="sparkle" style="left:75%;top:85%;animation-delay:.8s;"></div>
    <div class="sparkle" style="left:50%;top:10%;animation-delay:1.8s;"></div>
    <div class="sparkle" style="left:95%;top:25%;animation-delay:2.5s;"></div>
</div>
